{{ partial "header" . }}

<div class="maincontainer">
  <div class="centraliser">
    <div class="titlecontainer">
      <a href="../" class="maintitle">
        {{ .Site.Title }}
      </a>
    </div>
    <div class="contentcontainer">
      <div class="outercontent">
        <div class="menu">
          <div class="links">
            <div class="spacer"></div>
            <a class="linkitem" href="blog" style="background-color:{{.Site.Params.primaries.blog}}"> Blog </a>
            <a class="linkitem" href="software" style="background-color:{{.Site.Params.primaries.software}}"> Software </a>
            <a class="linkitem" href="presentations" style="background-color:{{.Site.Params.primaries.presentations}}"> Presentations </a>
            <a class="linkitem" href="publications" style="background-color:{{.Site.Params.primaries.publications}}"> Publications </a>
            <div class="spacer"></div>
          </div>
        </div>
        <div class="innerContent">
          <div class="pagetitle"  style="display:flex; justify-content: center;padding:0 3rem;min-width:40rem;">
            <h1> <i class="{{ .Site.Params.icon404 | default "fas fa-kiwi-bird" }}"></i> 404 <i class="{{ .Site.Params.icon404 | default "fas fa-kiwi-bird" }}"></i> </h1>
          </div>
        </div>
      </div>
      <div class="colourbar"></div>
    </div>
  </div>
</div>
